@import "../../styles.scss";

header {
  width: 100%;
  @include displayFlex($jc: space-between);
  position: relative;
  .logo {
    width: 242.11px;
    height: 70px;

    @media (max-width:730px) {
      object-fit: contain;
      width: 200px;
    }

    @media (max-width:630px) {
      object-fit: contain;
      width: 150px;
    }

    @media (max-width:500px) {
      object-fit: contain;
      width: 100px;
    }
  }
}

.searchbar {
  // width: calc(100% - 891px);
  // max-width: 989px;
  padding: 17.5px 45px;
  @include displayFlex($jc: space-between);
  border-radius: 42px;
  background-color: white;
  cursor: pointer;

  span {
    font-size: 24px;
    color: $textGrey;
  }
}
.searchContainer {
  @media (max-width:1000px) {
    display: none;
  }
}

.searchbar {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid $lightPurple;
    border-radius: 30px;

    input {
      border: none;
      outline: none;
      width: 100%;
      font-size: 18px;
    }
}

.searchResults{
  margin-top: 6px;
  position: absolute;
  background-color: white;
  border-radius: 42px;
  padding: 28px;
  width: -webkit-fill-available;
  max-width: 550px;
  max-height: calc(100vh - 140px);
  overflow: auto;
  z-index: 100;
  border: 1px solid #adb0d9;
}

.searchResults::-webkit-scrollbar {
  position: absolute;
  left: 0;
}

.searchResults::-webkit-scrollbar {
  width: 12px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.searchResults::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

.searchResults::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #363636;
}

app-avatar {
    width: 38px;
    height: 38px;
}

.foundContent {
    display: flex;
    flex-direction: row;
    gap: 6px;
    padding: 6px;
    border-radius: 42px;
    align-items: center;

    &:hover {
      background-color: $bgr;
      svg path {
        fill: $purple2;
      }
      span {
        color: $purple2;
      }
      cursor: pointer;
  }
}

.profil-menu-container {
  max-width: 468px;
  @include displayFlex($g: 20px);
  cursor: pointer;

  @media (max-width:630px) {
    justify-content: flex-end;
    max-width: 350px;
    gap: 5px;
  }

  @media (max-width:630px) {
    max-width: 250px;
  }

  @media (max-width:435px) {
    max-width: 150px;
  }

  span {
    font-size: 32px;
    font-weight: 700;
    max-width: calc(100% - 140px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    @media (max-width:730px) {
      font-size: 26px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @media (max-width:630px) {
      font-size: 22px;
      max-width: calc(100% - 100px);
    }


    @media (max-width:500px) {
      font-size: 18px;
    }

    @media (max-width:400px) {
      font-size: 16px;
    }
    @media (max-width:370px) {
      display: none;
    }
  }

  .avatar-container {
    width: 70px;
    height: 70px;

    @media (max-width:435px) {
      height: 45px;
      width: 45px;
    }
  }

  &:hover span {
    color: $purple2;
  }

  &:hover .arrow-down-icon path {
    fill: $purple2;
  }
}

.arrow-down-icon{
  @media (max-width:730px) {
    width: 25px;
    height: 25px;
  }
    @media (max-width:730px) {
    width: 20px;
    height: 20px;
  }
}

.dropDownProfile{
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%);
  z-index: 10;
}

.dropDown{
  position: absolute;
  bottom: 0;
  right: 0;
  @include displayFlex($jc: center);
  transform: translateY(100%);
  box-shadow: -4px 6px 14px 1px $bgr;
  z-index: 10;
  border-radius: 25px;
  border-top-right-radius: 0;
  background-color: white;
  width: 200px;
  height: 100px;
  div{
    display: flex;
    flex-direction: column;
  }

  span{
    padding: 8px;
    cursor: pointer;
    font-size: 22px;
    width: 170px;
    text-align: center;

    &:hover {
      color: $purple2;
    }
  }

  .hoverSpan{
    &:hover {
      background-color: $bgr;
      color: $purple2;
      border-radius: 25px;
    }
  }

}
