<div class="reaction" (click)="updateMessageReaction(index)">
    @if(onhover) {
    <div class="reaction-info">
        <div class="icon">
            <img src="../../../assets/img/reactions/{{reaction.reaction}}.png" alt="Hier ist ein Icon">
        </div>
        <div class="reacting" [ngStyle]="{fontSize: reaction.reacting.length > 1 ? '16px' : '18px'}">
            <span *ngFor="let reacting of reaction.reacting, let i = index"> {{ reacting === authService.userName ? 'Du'
                : reacting}} <span
                    *ngIf="reaction.reacting.length > 1 && i === reaction.reacting.length - 2">und</span></span>
        </div>
        @if(reaction.reacting.length === 1) {
        @switch(reaction.reacting[0]) {
        @case (authService.userName) {
        <span>hast reagiert</span>
        }
        @default {
        <span>hat reagiert</span>
        }
        }
        }
        @if(reaction.reacting.length > 1) {
        <span>haben reagiert</span>
        }
    </div>
    }
    <div class="icon">
        <img src="../../../assets/img/reactions/{{reaction.reaction}}.png" alt="Hier ist ein Icon">
    </div>
    <span>{{ reaction.reacting.length }}</span>
</div>