<div class="message-container">
    <div class="avatar-container">
        <app-avatar></app-avatar>
    </div>
    <div class="message-subcontainer">
        <div class="message-header">
            <span class="name">Noa Braun</span>
            <span class="time">14:25 Uhr</span>
        </div>
        <div class="message">
            <p>Welche Version ist aktuell von Angular?</p>
        </div>
        <div class="reaction-container"></div>
        <div class="answer-container">
            <span class="answers">2 Antworten</span>
            <span class="last-answer">Letzte Antwort 14:56 Uhr</span>
        </div>
    </div>
</div>