<div class="overdiv-addUser">
    <h1>Leute hinzufügen</h1>
        
    <div class="checkbox-div">
        <input (change)="toggleChoose()" [checked]="!choose" type="checkbox">
        <span>Alle Mitlieder hinzufügen</span>
    </div>
    <div class="checkbox-div">
        <input (change)="toggleChoose()" [checked]="choose" type="checkbox">
        <span>Bestimmte Leute hinzufügen</span>
    </div>
            
    <div *ngIf="choose" class="input-div">
        <input (input)="sortArrayByName()" [(ngModel)]="input" style="width: 100%;" type="text" placeholder="Personen hinzufügen">
        <div class="popup">
            <div>
                <div *ngFor="let i of accountServiceObj.accounts" class="channels">
                    <div class="container"><app-avatar [accountId]="i.accountId" [hideStatus]="false"></app-avatar></div>
                    <span class="personName">{{ i.name }}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- <div>
        tet
    </div> -->
    <div class="button">
        <button (click)="Addpeople()">Erstellen</button>
    </div>
</div>
