@import "./../../styles.scss";

.overdiv{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 5;
    @include displayFlex($jc: center); 
}

.headAndClose{
    @include displayFlex($jc: ); 
}

.crate-overdiv{
    position: relative;
    border-radius: 40px;
    max-width: 500px;
    max-height: 900px;
    min-width: 700px;
    background-color: white;
    padding: 22px;
    margin-left: 10px;

    h1{
        font-size: 26px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    h2{
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
    }

    span{
        font-size: 18px;
        margin-right: 20px;
    }

    button{
        background-color: $buttonPurple;
        padding: 16px;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: 18px;
        width: 150px;
        &:hover{
            cursor: pointer;
            background-color: $purple2;
        }
        &:active {
            background-color: $buttonPurple !important;
        }
    }
}