@import "../../../styles.scss";

.message-box {
  width: 100%;
  padding: 20px;
  border: 1px solid $lightPurple;
  border-radius: 20px;
  position: relative;

  form {
    @include displayFlex($fd: column, $g: 40px);
  }

  textarea {
    width: 100%;
    height: 25px;
    font-size: 18px;
    resize: none;
    border: none;
    outline: none;
  }

  .icons-text-box-container {
    width: 100%;
    height: 40px;
    @include displayFlex($jc: space-between);

    .left-icons {
      @include displayFlex();

      .vektor {
        width: 1px;
        height: 40px;
        background-color: $lightPurple;
        margin-inline: 5px;
      }

      .icon-container {
        width: 40px;
        height: 40px;
        @include centerElement();
      }
    }

    .send-message-icon {
      border: none;
      background-color: white;
      width: 40px;
      height: 40px;
    }
  }
}

emoji-mart {
  position: absolute;
  top: -406.2px;
  left: 20px;
}

:host(emoji-mart) {
  section {
    background-color: $purple2;
  }

  .emoji-mart-anchor.emoji-mart-anchor-selected {
    color: white;
  }

  .emoji-mart-anchor-bar {
    background-color: white;
  }
}
