@import "../../styles.scss";

.errorPage-container {
  width: 100vw;
  height: 100vh;
  @include centerElement();
  background: linear-gradient(1deg, #313ae5 1.22%, #797ef3 98.76%);

  header {
    @include displayFlex($g: 20px);
    margin-bottom: 50px;

    span {
      font-size: 64px;
      color: white;
    }
  }

  .error-message {
    @include displayFlex($fd: column, $g: 20px);
    color: white;

    h2 {
      font-weight: 700;
    }
  }
}
