@import "../../../styles.scss";

.overdiv{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.2);
    z-index: 5;
    @include displayFlex($jc: center); 
}

.crate-overdiv{
    position: relative;
    border-radius: 40px;
    max-width: 800px;
    max-height: 500px;
    background-color: white;
    padding: 22px;
    margin-left: 10px;

    h1{
        font-size: 26px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    h2{
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
    }

    span{
        font-size: 18px;
        margin-right: 20px;
    }

    button{
        background-color: $buttonPurple;
        padding: 16px;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: 18px;
        width: 150px;
        &:hover{
            cursor: pointer;
            background-color: $purple2;
        }
        &:active {
            background-color: $buttonPurple !important;
        }
    }
}

.button{
    margin-top: 30px;
    width: 100%;
    @include displayFlex($jc: flex-end); 
}

.input-div{
    margin-top: 20px;
    @include displayFlex($jc: flex-start); 
    border: 1px solid $textGrey;
    padding: 16px;
    border-radius: 30px;


    span{
        padding-left: 10px;
        font-weight: 500;
        font-size: 20px;
        color: $textGrey;
    }

    input{
        font-weight: 500;
        font-size: 18px;
        border: none; 
        outline: none;
        width: calc(100% - 40px);
    }
}

.close-button{
    position: absolute;
    top: 30px;
    right: 30px;

    @include displayFlex($jc: center); 
    border-radius: 100%;
    padding: 8px;
    cursor: pointer;
    svg{
        &:active {
            path{
                fill: black !important;
            }
        }
    }
    &:hover{
        background-color: $bgr;

        svg path {
            fill: $purple2;
        }
    }
}