@import "../../../styles.scss";

.current-channel {
  @include displayFlex($g: 10px);
  border-radius: 100px;
  padding: 6px 10px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;

  .svg-container {
    width: 32px;
    @include displayFlex();

    &:first-child {
      svg {
        margin-inline: 5px;
      }
    }
  }

  span {
    font-size: 24px;
    font-weight: 700;
  }

  svg:last-of-type {
    margin-inline: 8px;
  }

  &:hover {
    background-color: $bgr;

    span {
      color: $purple2;
    }

    svg path {
      fill: $purple2;
    }
  }
}

.fullscreen{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  z-index: 88;
}