@import "../../styles.scss";

.searchbar {
    padding: 17.5px 45px;
    @include displayFlex($jc: space-between);
    border-radius: 42px;
    background-color: white;
    cursor: pointer;
  
    span {
      font-size: 24px;
      color: $textGrey;
    }
  }
  .searchbar {
      width: 100%;
      padding: 15px 20px;
      border: 1px solid $lightPurple;
      border-radius: 30px;
  
      input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 18px;
      }
  }
  
  .searchResults{
    margin-top: 6px;
    margin-right: 20px;
    position: absolute;
    background-color: white;
    border-radius: 42px;
    padding: 28px;
    width: -webkit-fill-available;
    max-width: 550px;
    max-height: calc(100vh - 140px);
    overflow: auto;
    z-index: 100;
    border: 1px solid #adb0d9;
  }
  
  .searchResults::-webkit-scrollbar {
    position: absolute;
    left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    width : 4px;
  }
  
  .searchResults::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  }
  
  .searchResults::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #9a9898;
  }
  
  .searchResults::-webkit-scrollbar-button {
    height: 50px;
  }
  
  app-avatar {
      width: 38px;
      height: 38px;
  }
  
  .foundContent {
      display: flex;
      flex-direction: row;
      gap: 6px;
      padding: 6px;
      border-radius: 42px;
      align-items: center;
  
      &:hover {
        background-color: $bgr;
        svg path {
          fill: $purple2;
        }
        span {
          color: $purple2;
        }
        cursor: pointer;
    }
  }
  