@import "../../styles.scss";
@include smallerScrollBar();

.searchContainer {
  padding-left: 6px;
  padding-right: 6px;
}

.searchbar {
    padding: 17.5px 45px;
    @include displayFlex($jc: space-between);
    border-radius: 42px;
    background-color: white;
    cursor: pointer;
  
    span {
      font-size: 24px;
      color: $textGrey;
    }
  }

  .searchbar {
      width: 100%;
      padding: 15px 20px;
      border: 1px solid $lightPurple;
      border-radius: 30px;

      @media (max-width:1200px) {
       padding: 8px 12px;
      }

      input {
        border: none;
        outline: none;
        width: 100%;
        font-size: 18px;
      }

  }

  .searchResults{
    margin-top: 6px;
    position: absolute;
    background-color: white;
    border-radius: 42px;
    padding: 28px;
    width: -webkit-fill-available;
    max-width: 740px;
    max-height: 400px;
    overflow: auto;
    z-index: 100;
    border: 1px solid #adb0d9;

    div{
      width: 100%;
    }

  }

  app-avatar {
      width: 38px;
      height: 38px;
  }

  .svg-container{
    width: 38px !important;
    height: 38px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .foundContent {
      display: flex;
      flex-direction: row;
      gap: 6px;
      padding: 6px;
      border-radius: 42px;
      width: 100%;
      align-items: center;
      width: fit-content;




      app-avatar{
        min-width: 40px !important;
      }
      
      span{
        width: 100%;
      }
  
      &:hover {
        background-color: $bgr;
        svg path {
          fill: $purple2;
        }
        span {
          color: $purple2;
        }
        cursor: pointer;
    }
  }

  .searchIcon {
    &:hover { 
      svg path {
        fill: $purple2;
      }
    }
  }

  .searchResultsSection {
    margin-top: 20px;
    overflow-x: auto;
  }