<section class="choose-a-character-frame">
    <h1 class="choose-a-character-header">Wähle deinen Avatar</h1>
    <div class="choosed-container">
        <div class="character-preview">
            <img src="../../../../assets/img/characters/person.svg" alt="">
        </div>
    </div>
    <div class="choose-container">
        <h2 class="name-container">Name</h2>
        <h3>Aus der Liste wählen</h3>
        <div class="choosable-container">
            <img src="../../../../assets/img/characters/elise_roth.svg" alt="">
            <img src="../../../../assets/img/characters/elias_neumann.svg" alt="">
            <img src="../../../../assets/img/characters/steffen_hoffmann.svg" alt="">
            <img src="../../../../assets/img/characters/noah_braun.svg" alt="">
            <img src="../../../../assets/img/characters/sofia_müller.svg" alt="">
            <img src="../../../../assets/img/characters/frederik_beck.svg" alt="">
        </div>
    </div>
    <div class="load-own-img">
        <h3>eigenes Bild verwenden</h3>
        <input type="file" name="" id="select-file" accept=".svg,.png,.jpg,.jpeg">
        <label for="select-file">Datei hochladen</label>
    </div>
    <button class="create-acc">Weiter</button>
</section>