<section class="choose-a-character-frame">
    <h1 class="choose-a-character-header">Wähle deinen Avatar</h1>
    <div class="choosed-container">
        <div class="character-preview">
            <img src="../../../../assets/chracters/person.svg" alt="">
        </div>
    </div>
    <div class="choose-container">
        <h2 class="name-container">Name</h2>
        <h3>Aus der Liste wählen</h3>
        <div class="choosable-container">
            <img src="../../../../assets/chracters/Elise Roth.svg" alt="">
            <img src="../../../../assets/chracters/Elias Neumann.svg" alt="">
            <img src="../../../../assets/chracters/Steffen Hoffmann.svg" alt="">
            <img src="../../../../assets/chracters/Noah Braun.svg" alt="">
            <img src="../../../../assets/chracters/Sofia Müller.svg" alt="">
            <img src="../../../../assets/chracters/Frederik Beck.svg" alt="">
        </div>
    </div>
    <div class="load-own-img">
        <h3>eigenes Bild verwenden</h3>
        <input type="file" name="" id="select-file" accept=".svg,.png,.jpg,.jpeg">
        <label for="select-file">Datei hochladen</label>
    </div>
    <button class="create-acc">Weiter</button>
</section>