@import "../../../../styles.scss";

.choose-a-character-frame {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 606px;
    height: 669px;
    flex-shrink: 0;
    border-radius: 30px;
    padding: 40px 53px;
    background: var(--White, #FFF);
    overflow: hidden;

    /* header */
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);

    @media (max-width:1000px) {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        padding-top: 10px;
    }

    .choose-go-back {
        cursor: pointer;
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border: none;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        padding: 8px;
        top: 45px;
        left: 32px;
        flex-shrink: 0;
        background-color: white;
        background-image: url(../../../../assets/img/go_back_arrow_grey.svg);
        background-repeat: no-repeat;
        background-position: center;

        @media (max-width:1000px) {
            left: 10px;
            top: 10px;
        }

        &:hover {
            background: var(--Bg-color, #ECEEFE);
            background-image: url(../../../../assets/img/go_back_arrow_purple.svg);
            background-repeat: no-repeat;
            background-position: center;
        }

    }

    .choose-a-character-header {
        color: var(--Purple-1, #444DF2);
        text-align: center;
        margin-bottom: 15.5px;
        font-size: 46px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 55.2px */

        @media (max-width:1000px) {
            font-size: 36px;
        }

        @media (max-width:500px) {
            font-size: 28px;
            margin-bottom: 30px;
        }

        @media (max-width:400px) {
            font-size: 24px;
            margin-bottom: 20px;
        }
    }

    .choosed-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 32px;

        .character-preview {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 168px;
            height: 168px;
            padding: 16px;
            gap: 10px;
            border-radius: 100px;
            background: var(--Purple-2, #797EF3);

            img {
                width: 168px;
                height: 168px;
                border-radius: 100px;

            @media (max-width:1000px) {
                width: 130px;
                height: 130px;
            }
            }

            @media (max-width:1000px) {
                width: 130px;
                height: 130px;
            }

        }

    }

    .choose-container {
        margin-bottom: 32px;

        .name-container {
            color: #000;
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            margin-bottom: 8px;
        }

        .choosable-container {
            display: flex;
            justify-content: center;
            margin-top: 16px;
            gap: 8px;

            img {
                width: 72px;
                height: 72px;
                border-radius: 90px;
                border: 4px solid transparent;

                &:hover {
                    cursor: pointer;
                    border: 4px solid #E6E6E6;
                }

            }

            @media (max-width:1000px) {
                width: 300px;
                flex-wrap: wrap;
            }

        }

    }

    .resp-h3{
        @media (max-width:600px) {
            font-size: 16px;
        }

        @media (max-width:500px) {
            font-size: 14px;
        }
    }

    .load-own-img {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        align-self: stretch;
        gap: 24px;
        margin-bottom: 21.5px;

        @media (max-width:1000px) {
            justify-content: center;
        }

        @media (max-width:500px) {
            flex-direction: column;
        }

        input {
            display: none;
        }

        label {
            cursor: pointer;
            display: flex;
            padding: 12px 25px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 25px;
            border: 1px solid var(--Purple-2, #797EF3);
            color: var(--Purple-1, #444DF2);
            text-align: center;
            font-family: Nunito;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;

            &:hover {
                color: white;
                background: var(--Purple-3, #535AF1);
            }

            &:active {
                color: white;
                background: var(--Purple-1, #444DF2);
            }

            @media (max-width:500px) {
                font-size: 16px;
            }

        }
    }

    .create-acc {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        border: none;
        width: 107px;
        height: 49px;
        padding: 12px 25px;
        gap: 10px;
        border-radius: 25px;
        background: var(--Purple-1, #444DF2);
        color: var(--White, #FFF);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        &:hover {
            color: white;
            background: var(--Purple-2, #797EF3);
        }

        &:active {
            color: white;
            background: var(--Purple-1, #444DF2);
        }

    }

    .registration-choose-userfeedback {
        display: none;
        position: fixed;
        align-items: flex-start;
        white-space: nowrap;
        padding: 25px;
        gap: 10px;
        bottom: 0;
        right: 0;
        transform: translateX(100%);
        border-radius: 30px 30px 0px 30px;
        background: var(--Purple-1, #444DF2);
        animation: userfeedback-slideIn 2s forwards;

        /* overlay */
        box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.20);
        color: var(--White, #FFF);
        font-family: Nunito;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

}

.center-element{
    width: 100%;
    @include displayFlex($jc: center);
}

@keyframes userfeedback-slideIn {
    25% {
        transform: translateX(0%);
    }

    90% {
        transform: translateX(0%);
    }

    100% {
        display: none;
        transform: translateX(100%);
    }
}