@import "../../../styles.scss";

.channel-header {
  width: 100%;
  padding-block: 25px;
  @include displayFlex($jc: space-between);
}

.chat-members-info-container {
  @include displayFlex($g: 10px);

  .icon-container {
    width: 42px;
    height: 42px;
    @include centerElement();
    background-color: $bgr;
    border-radius: 20px;

    &:hover {
      cursor: pointer;

      svg path {
        fill: $purple2;
      }
    }
  }

  .chat-members-info {
    @include displayFlex($g: 10px);
    cursor: pointer;
    border-radius: 20px;
    padding-inline: 10px;

    span {
      font-size: 20px;
      font-weight: 600;
    }

    .container {
      @include displayFlex();
    }

    &:hover {
      background-color: $bgr;

      span {
        color: $purple2;
      }
    }
  }
}

.avatar-container {
  width: 40px;
  height: 40px;
}

.new-chat-header {
  width: 100%;
  padding-block: 32px 20px;
  @include displayFlex($fd: column, $ai: flex-start, $g: 20px);

  span {
    font-size: 24px;
    font-weight: 700;
  }

  .search-chat {
    width: 100%;
    padding: 15px 20px;
    border: 1px solid $lightPurple;
    border-radius: 30px;

    input {
      border: none;
      outline: none;
      width: 100%;
      font-size: 18px;
    }
  }
}

.private-chat-header {
  padding-block: 32px 20px;

  .subcontainer {
    width: fit-content;
    padding: 4px 8px;
    border-radius: 30px;
    @include displayFlex($g: 15px);

    .avatar-container {
      width: 50px;
      height: 50px;
    }

    span {
      font-size: 24px;
      font-weight: 700;
    }

    &:hover {
      background-color: $bgr;
    }
  }
}
