@import "../../../styles.scss";

.channel-header {
  width: 100%;
  padding-block: 25px;
  @include displayFlex($jc: space-between);
}

.current-channel {
  padding: 6px 10px;
  @include displayFlex($g: 10px);
  border-radius: 100px;
  cursor: pointer;

  span {
    font-size: 24px;
    font-weight: 700;
  }

  svg:first-child {
    margin-inline: 5px;
  }

  svg:last-child {
    margin-inline: 8px;
  }

  &:hover {
    background-color: $bgr;

    span {
      color: $purple2;
    }

    svg path {
      fill: $purple2;
    }
  }
}

.chat-members-info-container {
  @include displayFlex($g: 10px);

  .icon-container {
    width: 42px;
    height: 42px;
    @include centerElement();
    background-color: $bgr;
    border-radius: 20px;

    &:hover {
      cursor: pointer;

      svg path {
        fill: $purple2;
      }
    }
  }

  .chat-members-info {
    @include displayFlex($g: 10px);
    cursor: pointer;
    border-radius: 20px;
    padding-inline: 10px;

    span {
      font-size: 20px;
      font-weight: 600;
    }

    .container {
      @include displayFlex();
    }

    &:hover {
      background-color: $bgr;

      span {
        color: $purple2;
      }
    }
  }
}

.avatar-container {
  width: 40px;
  height: 40px;
}
