.background-element {
    position: fixed;
    top: 0;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
    background: var(--Bg-color, #ECEEFE);
    z-index: -2;
}

.disappearing-background-element {
    z-index: 5;
    background: linear-gradient(1deg, #313AE5 1.22%, #797EF3 98.76%);
    animation: change-background-color 2s linear 0.5s forwards;
}

.user-access-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    max-width: 100vw;
    width: 100%;
    height: 100vh;
}

@keyframes change-background-color {
    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}