<div class="background-element"></div>
<div class="background-element disappearing-background-element" style="display: none;"></div>
<div class="user-access-frame">
    <app-start-animation style="display: none;"></app-start-animation>
    <app-login style="display: flex;"></app-login>
    <app-register></app-register>
</div>
<div class="legal-container">
    <a href="">Impressum</a>
    <a href="">Datenschutz</a>
</div>

<div class="new-at-bubble">
    <p>Neu bei DABubble?</p>
    <a (click)="showRegistration()">Konto erstellen</a>
</div>