<div class="background-element"></div>
<div class="background-element disappearing-background-element" style="display: none;"></div>
<div class="user-access-frame">
    <div class="logo">
        <img src="assets/img/daBubbleLogo.png" alt="">
    </div>
    <app-start-animation style="display: none;"></app-start-animation>
    <app-login></app-login>
    <app-register></app-register>
    <app-send-mail-for-reset-password></app-send-mail-for-reset-password>
</div>
<div class="legal-container">
    <a (click)="this.router.navigate(['IMPRINT'])">Impressum</a>
    <a (click)="this.router.navigate(['DSGVO'])">Datenschutz</a>
</div>