@import "../../styles.scss";

.overdiv{
    padding: 16px;
}

.head{
    @include displayFlex($g: 10px,$jc: space-between);   
}

.logo{
    @include displayFlex($g: 10px,$jc: center);
    border-radius: 100px;
    height: 64px;
    img{
        border-radius: 100%;  
        height: 64px;
        width: 64px;
        object-fit: cover;
    }
    span{
        color: black;
        font-size: 24px;
        font-weight: 700;
        padding-right: 30px;
        padding-left: 15px;
    }

    &:hover{
        background-color: $bgr;

        span {
        color: $purple2;
        }

        svg path {
        fill: $purple2;
        }
    }
}