@import "../../../styles.scss";

.overdivEditChannel{
    background-color: white;
    z-index: 88;
    border-radius: 25px;
    min-width: 700px;
    padding: 25px 45px;
    font-family: "Nunito", sans-serif;
    gap: 10px;
    max-height: 100vh;
    overflow-y: scroll;


    @media (max-width:1000px) {
      margin-top: 20px;
        min-width: 100%;
        width: 100%;
        height: 100%;
        border-radius: 0px;
        padding: 0px 0px;
    }
}

.plus {
    @include displayFlex($jc: center);
    border-radius: 100%;
    padding: 8px;
    cursor: pointer;

    @media (max-width:1000px) {
      display: none;
    }
  
    svg {
      &:active {
        path {
          fill: black !important;
        }
      } 
    }
  
    &:hover {
      background-color: $bgr;
  
      svg path {
        fill: $purple2;
      }
    }
  }

.head{
    display: flex;
    justify-content: space-between;
}

.avatar-container {
    width: 50px;
    height: 50px;
}

.user{
  margin-top: 20px;

  .overUserDiv{
    margin-top: 16px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;

    &:hover{
      background-color: #eceefe;
    }

    span{
      margin-left: 15px;
      font-size: 18px;
      max-width: 100%;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}