@import "../../../styles.scss";

.message-container {
  width: 100%;
  min-width: 250px;
  @include displayFlex($ai: flex-start, $g: 30px);
  position: relative;
  cursor: pointer;
  padding: 10px 5px;
  @media (max-width:500px) {
    padding: 10px 25px;
  }

  .avatar-container {
    width: 70px !important;
    min-width: 70px !important;
    height: 70px !important;

    @media (max-width:550px) {
      width: 40px ;
      height: 40px ;
    }
  }

  &:hover {
    background-color: $bgr !important;

    .message {
      background-color: white;
    }

    .last-answer {
      color: black !important;
    }
  }
}

.message-subcontainer {
  width: calc(100% - 100px);
  @include displayFlex($fd: column, $ai: flex-start, $g: 8px);
  min-width: 200px;
  @media (max-width:550px) {
    width: calc(100% - 30px);
  }

  @media (min-width:1000px) {
    padding-inline: 0px !important; 
  }

  .message-header {
    @include displayFlex($g: 20px);

    .name {
      font-size: 18px;
      font-weight: 700;

      @media (max-width:400px) {
        font-size: 14px;
      }

      &:hover {
        color: $purple3;
      }
    }

    .time {
      font-size: 14px;
      color: $textGrey;
    }
  }

  .message {
    max-width: 100%;
    word-wrap: break-word;
    padding: 15px;
    border-radius: 0px 30px 30px 30px;
    background-color: $bgr;


    @media (max-width:550px) {
      max-width: 100%;
    }
    p {
      width: 100%;
      font-size: 18px;
    }
  }

  .answer-container {
    @include displayFlex($g: 20px);

    .answers {
      font-size: 18px;
      color: $purple3;

      @media (max-width:1410px) {
        font-size: 16px;
      }

      @media (max-width:1310px) {
        font-size: 14px;
      }

      @media (max-width:1280px) {
        font-size: 18px;
      }

      &:hover {
        color: $purple3;
        font-weight: 700;
      }
    }

    .last-answer {
      font-size: 14px;
      color: $textGrey;

      @media (max-width:1410px) {
        font-size: 11px;
      }

      @media (max-width:1310px) {
        font-size: 9px;
      }

      @media (max-width:1280px) {
        font-size: 14px;
      }
    }
  }
}

.reaction-bar {
  position: absolute;
  top: -18px;
}

.icon {
  min-height: 40px;
  min-width: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  @include centerElement();
  cursor: pointer;

  &:hover {
    background-color: $bgr;

    svg path {
      fill: $purple3;
    }
  }
}

.edit-message-box {
  width: calc(100% - 100px);
  @include displayFlex($fd: column, $ai: flex-start, $g: 16px);
  padding: 20px;
  border-radius: 20px;
  border: 1px solid $lightPurple;
  background: white;

  form {
    width: 100%;
  }

  .wrapper {
    width: 100%;
    margin-bottom: 16px;
  }

  textarea {
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    color: $textGrey;
    resize: none;

    &::-webkit-scrollbar {
      width: 0px;
    }
  }

  .edit-options {
    width: 100%;
    @include displayFlex($jc: space-between);

    .btn-container {
      @include displayFlex($g: 32px);
    }

    button {
      font-size: 18px;
      padding: 12px 25px;
      border-radius: 50px;
      border: 1px solid $purple2;
      cursor: pointer;
    }
  }
}

.reaction-container {
  @include displayFlex($g: 10px);

  .icon {
    width: 35.6px;
    height: 35.6px;
    background-color: white;

    &:hover {
      background-color: $bgr;
    }
  }
}
