@import "../../../styles.scss";

.channel-header {
  width: 100%;
  @include displayFlex($jc: space-between);
}

.current-channel {
  @include displayFlex($g: 5px);

  span {
    font-size: 24px;
    font-weight: 700;
  }

  .svg-container {
    width: 16px;
    height: 16px;

    svg {
      width: 16px;
      height: 16px;
    }

    svg path {
      fill: $purple2;
    }
  }

  .channel {
    font-size: 14px;
    font-weight: 400;
    color: $purple2;
  }
}

.close-icon-container {
  width: 40px;
  height: 40px;
  @include centerElement();

  svg {
    width: 24px;
    height: 24px;
  }

  &:hover {
    background-color: $bgr;
    border-radius: 20px;

    svg path {
      fill: $purple2;
    }
  }
}
