<div class="main-chat">
    <header>
        <app-main-chat-header></app-main-chat-header>
    </header>
    <div class="chat-container">
        <app-time-separator class="line" [date]="transmittedDate"></app-time-separator>
        <app-message></app-message>
        <app-time-separator class="line" [date]="transmittedDate2"></app-time-separator>
        <app-message></app-message>
        <app-chat-intro class="intro-box"></app-chat-intro>
    </div>
    <app-message-box class="message-box" [currentChanel]="currentChat.name"></app-message-box>
</div>