<section class="reset-password-frame" *ngIf="!email">

    <div class="reset-content" *ngIf="!this.linkused && this.loaded">

        <button class="go-to-login" (click)="this.goToLogin()"></button>

        <h1>Passwort zurücksetzen</h1>

        <form action="">
            <input type="password" #password1 (input)="this.checkIfPasswordEntered()" placeholder="Neues Passwort">
            <input type="password" #password2 (input)="this.checkIfPasswordEntered()" placeholder="Neues Kennwort bestätigen">

            <button #changepasswordbutton (click)="this.callchangePassword($event)" disabled>Passwort ändern</button>
        </form>

    </div>

    <div class="reset-content reset-content-resetted" *ngIf="this.linkused">
        <button class="go-to-login" (click)="this.goToLogin()"></button>
        <h1>Dieser Link ist ungültig oder wurde schon verwendet.</h1>
    </div>

    <div class="reset-password-userfeedback" #userfeedbackresetpassword>Anmelden</div>
</section>

<section class="reset-password-frame" *ngIf="email">

    <div class="reset-content" *ngIf="!this.linkused && this.loaded">

        <button class="go-to-login" (click)="this.goToLogin()"></button>

        <h1>Email zurücksetzen</h1>

        <form action="">
            <input type="email" #email1 (input)="this.checkIfEmailEntered()" placeholder="Neue Email">
            <input type="email" #email2 (input)="this.checkIfEmailEntered()" placeholder="Neue Email bestätigen">

            <button #changeemailbutton (click)="this.callchangeEmail($event)" disabled>Email ändern</button>
        </form>

    </div>

    <div class="reset-content reset-content-resetted" *ngIf="this.linkused">
        <button class="go-to-login" (click)="this.goToLogin()"></button>
        <h1>Dieser Link ist ungültig oder wurde schon verwendet.</h1>
    </div>

    <div class="reset-password-userfeedback" #userfeedbackresetpassword>Anmelden</div>
</section>
