<section class="reset-password-frame">

    <div class="reset-content" *ngIf="!this.linkused && this.loaded">

        <button class="go-to-login" (click)="this.goToLogin()"></button>

        <h1>Passwort zurücksetzen</h1>

        <form action="">
            <input type="password" #password1 (input)="this.checkIfPasswordEntered()" placeholder="Neues Passwort">
            <input type="password" #password2 (input)="this.checkIfPasswordEntered()" placeholder="Neues Kennwort bestätigen">

            <button #changepasswordbutton (click)="this.callchangePassword($event)" disabled>Passwort ändern</button>
        </form>

    </div>

    <div class="reset-content reset-content-resetted" *ngIf="this.linkused">
        <button class="go-to-login" (click)="this.goToLogin()"></button>
        <h1>Dieser Link ist ungültig oder wurde schon verwendet.</h1>
    </div>

</section>