@import "../../styles.scss";

@include smallerScrollBar();

.dsgvo-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: var(--Bg-color, #ECEEFE);

    .dsgvo-content {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: auto;
        padding: 48px 56px;
        gap: 32px;
        max-width: 800px;
        max-height: 500px;
        border-radius: 30px;
        background-color: white;

        & * {
            word-wrap: break-word;
        }

        h1 {
            color: var(--Purple-1, #444DF2);
            font-size: 46px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }

        h2 {
            color: var(--Purple-1, #444DF2);
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }

        h3 {
            color: var(--Purple-1, #444DF2);
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
        }

        p {
            color: var(--Black, #000);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 120%;
        }

        a {
            text-decoration: none;
        }

        .dsgvo-go-back {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            border-radius: 50px;
            width: 40px;
            height: 40px;
            padding: 8px;
            flex-shrink: 0;
            background-color: white;
            background-image: url(../../assets/img/go_back_arrow_grey.svg);
            background-repeat: no-repeat;
            background-position: center;

            &:hover {
                background: var(--Bg-color, #ECEEFE);
                background-image: url(../../assets/img/go_back_arrow_purple.svg);
                background-repeat: no-repeat;
                background-position: center;
            }

        }

    }

}