<div class="main-chat">
    <header>
        <app-thread-chat-header></app-thread-chat-header>
    </header>
    <div class="chat-container" #chat>
        @if(message) {
        <app-message [emitMessage]="message" [collection]="currentCollection" [hideAnswers]="true"></app-message>
        <div class="answer-amount-container">
            <span>{{ message.answerAmount }} Antworten</span>
            <div class="horizontal-line"></div>
        </div>
        }
        @if(messageService.answers) {
        <div class="answer" *ngFor="let answer of messageService.answers">
            <app-message [emitMessage]="answer" [collection]="currentCollection" [isAnswer]="true"></app-message>
        </div>
        }
    </div>
    <app-message-box [secondaryChat]="true" class="message-box"></app-message-box>
</div>