@import "../../styles.scss";

.mobile{
  @media (min-width:1001px) {
    display: none !important;
  }

  height: calc(100vh - 120px)!important;
}

.home {
  width: 100vw;
  height: 100vh;
  padding: 25px 20px;
  background-color: $bgr;

  @media (max-width: 1000px) {
    padding: 0;
    padding-top: 20px;
    border-radius: 0;
  }

  header {
    width: 100%;
    padding-left: 25px;
    margin-bottom: 20px;
  }

  section {
    width: 100%;
    height: calc(100vh - 141px);
    @include displayFlex($g: 20px);
    @media (max-width: 1000px) {
      max-height: calc(100vh - 120px) !important;
      gap: 0;

    }

    .menu-channel {
      @include componentMaxWidth(366px);
      scrollbar-gutter: stable;
      overflow-y: auto;

      @media (max-width: 1000px) {
        @include componentMaxWidth(100%);
        overflow-y: scroll;
        min-width: 100% !important;
        border-radius: 0px;
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: none;
      }
    }

    .main-chat {
      @include componentMaxWidth(100%);

      @media (max-width:1000px) {
        border-radius: 0px;
      }
    }

    .secondary-chat {
      @include componentMaxWidth(485px);

      @media (max-width:1000px) {
        border-radius: 0px;
      }
    }
  }
}

.destop{
  @media (max-width: 1000px) {
    display: none !important;
  }
}

