@import "../../styles.scss";

.home {
  width: 100vw;
  height: 100vh;
  padding: 25px 20px;
  background-color: $bgr;

  header {
    width: 100%;
    padding-left: 25px;
    margin-bottom: 20px;
  }

  section {
    width: 100%;
    height: calc(100vh - 141px);
    @include displayFlex($g: 20px);
    @media (max-width: 1000px) {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      max-height: calc(100vh - 141px);
    }

    .menu-channel {
      @include componentMaxWidth(366px);
      scrollbar-gutter: stable;
      overflow-y: auto;

      @media (max-width: 1000px) {
        @include componentMaxWidth(100%);
      }

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: none;
      }
    }

    .main-chat {
      @include componentMaxWidth(100%);
    }

    .secondary-chat {
      @include componentMaxWidth(485px);
    }
  }
}

.destop{
  @media (max-width: 1000px) {
    display: none !important;
  }
}

