@import "../../styles.scss";

.home {
  width: 100vw;
  height: 100vh;
  padding: 25px 20px;
  background-color: $bgr;

  header {
    width: 100%;
    padding-left: 25px;
    margin-bottom: 20px;
  }

  section {
    width: 100%;
    height: calc(100% - 116px);
    @include displayFlex($g: 20px);

    .menu-chanel {
      @include componentMaxWidth(366px);
      overflow-y: scroll;
    }

    .main-chat {
      @include componentMaxWidth(100%);
    }

    .secondary-chat {
      @include componentMaxWidth(485px);
    }
  }
}
