<div class="home">
    <header>
        <app-header></app-header>
    </header>
    <section class="destop">
        <app-nav-bar [ngStyle]="{width: elementRef === 'menu-channel' ? width : '100%'}"
            class="menu-channel"></app-nav-bar>
        <app-main-chat class="main-chat"></app-main-chat>
        <app-thread [ngStyle]="{width: elementRef === 'secondary-chat' ? width : '100%'}"
            class="secondary-chat"></app-thread>
    </section>
    <section class="mobile">
        <app-nav-bar *ngIf="!hideBar" [ngStyle]="{width: elementRef === 'menu-channel' ? width : '100%'}"
            class="menu-channel"></app-nav-bar>
        <app-main-chat class="main-chat" ></app-main-chat>
        <app-thread [ngStyle]="{width: elementRef === 'secondary-chat' ? width : '100%'}"
            class="secondary-chat"></app-thread>
    </section>
</div>