@import "../../../styles.scss";

.crate-overdiv{
    position: relative;
    max-width: 200px;
    max-height: 900px;
    min-width: 700px;
    background-color: white;
    padding: 22px;
    margin-left: 10px;
    border-radius: 40px;
    border-top-right-radius: 0;
    box-shadow: -4px 6px 14px 1px $bgr;

    h1{
        font-size: 32px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    h2{
        margin-top: 20px;
        font-size: 20px;
        font-weight: 700;
    }

    span{
        font-size: 18px;
        margin-right: 20px;
    }

    button{
        background-color: $buttonPurple;
        padding: 16px;
        border: none;
        border-radius: 30px;
        color: white;
        font-size: 18px;
        width: 150px;
        &:hover{
            cursor: pointer;
            background-color: $purple2;
        }
        &:active {
            background-color: $buttonPurple !important;
        }
    }
}

.close-button{
    @include displayFlex($jc: center); 
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 100%;
    padding: 8px;
    cursor: pointer;
    svg{
        &:active {
            path{
                fill: black !important;
            }
        }
    }
    &:hover{
        background-color: $bgr;
        svg path {
            fill: $purple2;
        }
    }
}

.picture{
    @include displayFlex($jc: center); 
    padding-top: 20px;
    height: 200px;
    width: 100%;

    div{
        height: 200px ;
        width: 200px ;
        border-radius: 100%;
        img{
            height: 200px !important;
            width: 200px !important;
            border-radius: 100% !important;
        }
    }
    
}

.informations{
    padding-top: 20px;
    h2{
        font-size: 28px;
    }
}

.status{
    padding-top: 20px;
    @include displayFlex($jc: flex-start); 
    div{
        height: 12px;
        width: 12px;
        border-radius: 100%;
        background-color: $onlineGreen;

    }
    span{
        padding-left: 20px;
        font-size: 20px;
        color: $onlineGreen;
    }
}

.Email{
    position: relative;
    margin-top: 30px;
    @include displayFlex($jc: flex-start); 

    svg{
        position: absolute;
        top: 0px;
        left: 0;

        path{
            height: 20px;
            width: 25px;
        }
    }

    div{
        display: flex;
        flex-direction: column;
        padding-left: 40px;

        span{
            height: 30px;
            display: flex ;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
        }

        a{
            padding-top: 20px;
            font-size: 18px;
            text-decoration: none;
            color: $buttonPurple;
        }
    }
}

.button{
    @include displayFlex($jc: center); 
    margin-top: 50px;
    width: 100%;
    button{
        background-color: $buttonPurple;
        padding: 16px;
        border: none;
        border-radius: 30px;
        color: white;
        width: 200px;
        max-width: none !important;
        display: flex;
        justify-content: center;
        align-items: center;
    
        span{
            font-size: 22px;
            padding-left: 10px;
            margin-right: 0 !important;
        }
    
        &:hover{
            cursor: pointer;
            background-color: $purple2;
        }

        &:active {
            background-color: $buttonPurple !important;
        }
    }
}

.overdivInput{
    margin-top: 20px;
    width: 100%;
    div{
        display: flex;
        align-items: center;

        svg{
            path{
                height: 32px;
                width: 32px;
            }
           
        }

        span{
            margin-left: 20px;
            font-size: 18px;
            font-weight: 600;
        }
    }

    .inputDiv{
        margin-top: 20px ;
        border: 1px solid $purple2;
        border-radius: 100px;
        padding: 8px;
        width: 100%;

        input{
            padding-left: 10px;
            padding-right: 10px;
            border: none;
            font-size: 18px;
            outline: none !important;
            width: 100%;
        }
    }
}