<div *ngIf="chatSelected === 'channel' && messageAmount < 1" class="channel-intro-container">
    <app-channel-box [introStyle]="'mainChat'"></app-channel-box>
    <div class="intro">Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
        <span [ngStyle]="{color: '#797ef3'}"><span *ngIf="currentChat.access === 'public'">#</span><span
                *ngIf="currentChat.access === 'private'"><i class='bx bxs-lock-alt'></i></span>
            Entwicklerteam</span>
    </div>
</div>
<div *ngIf="chatSelected === 'chat'" class="chat-intro-container"
    [ngStyle]="{transform: ownChat ? 'translateY(-5px)' : 'translateY(0px)', marginBottom: ownChat ? '0px' : '22px'}">
    <div class="chat-member">
        <div class="avatar-container">
            <app-avatar></app-avatar>
        </div>
        <span>Frederik Beck<span *ngIf="ownChat"> (Du)</span></span>
    </div>
    <p *ngIf="!ownChat" class="intro">Diese Unterhaltung findet nur zwischen <span
            [ngStyle]="{color: '#797ef3'}">&commat;Sofia
            Müller</span> und dir statt.</p>
    <p *ngIf="ownChat" class="intro"><span [ngStyle]="{fontWeight: '700'}">Dieser Raum ist nur für dich
            da.</span> Mache dir Notizen, listr deine
        To-dos auf oder bewahre Links
        und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.</p>
</div>