@if(chatSelected && messageService.messages.length < 1) { @if(chatSelected==='channels' ) { <div
    class="channel-intro-container">
    <app-channel-box [introStyle]="'mainChat'" [currentChannel]="chatService.currentChannel"></app-channel-box>
    <div class="intro">Du hast diesen Channel heute erstellt. Das ist der Anfang des Channels
        <div [ngStyle]="{color: '#797ef3'}">
            @switch(chatService.currentChannel.publicStatus) {
            @case (true) {#}
            @default {<i class='bx bxs-lock-alt'></i>}
            }
            {{ chatService.currentChannel.name }}
        </div>
    </div>
    </div>
    }
    @if(account && chatSelected === 'chats') {
    <div class="chat-intro-container"
        [ngStyle]="{transform: ownChat ? 'translateY(-5px)' : 'translateY(0px)', marginBottom: ownChat ? '0px' : '22px'}">
        <div class="chat-member">
            <div class="avatar-container">
                <app-avatar [accountId]="account.accountId" [hideStatus]="true"></app-avatar>
            </div>
            <span>{{ account.name }}<span *ngIf="ownChat"> (Du)</span></span>
        </div>
        @switch (ownChat) {
        @case (true) {
        <p *ngIf="ownChat" class="intro"><span [ngStyle]="{fontWeight: '700'}">Dieser Raum ist nur für dich
                da.</span> Mache dir Notizen, listr deine
            To-dos auf oder bewahre Links
            und Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.</p>
        }
        @default {
        <p *ngIf="!ownChat" class="intro">Diese Unterhaltung findet nur zwischen <span class="link-hover"
                [ngStyle]="{color: '#797ef3'}">&commat;{{ account.name }}</span> und dir statt.</p>
        }
        }
    </div>
    }
    }