@import "../../../styles.scss";

.channel-intro-container {
  @include displayFlex($fd: column, $ai: flex-start);
  margin-bottom: 73px;
}

.chat-intro-container {
  @include displayFlex($fd: column, $ai: flex-start, $g: 24px);

  .chat-member {
    @include displayFlex($ai: flex-end, $g: 25px);

    .avatar-container {
      width: 100px;
      height: 100px;
    }

    span {
      font-size: 24px;
      font-weight: 700;

      &:hover {
        color: $purple3;
      }
    }
  }

  .intro.text {
    display: inline;
  }
}

.intro {
  font-size: 20px;
  color: $textGrey;
  @include displayFlex($g: 3px);

  @media (max-width:1350px) {
    font-size: 16px;
  }

  @media (max-width:1350px) {
    font-size: 14px;
  }
  @media (max-width:1350px) {
    font-size: 11px;
    gap: 0;
  }

  .link-hover:hover {
    color: $purple3;
    font-weight: 700;
  }
}
